.TodoListItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
}

.important {
  color: var(--grey-dark);
  font-weight: 700;
}
.label {
  flex-grow: 1;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.btn {
  padding: 0.2rem 0.6rem;
  display: flex;
  margin-right: 0.4rem;
}
