.form {
  display: flex;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

label {
  flex-grow: 2;
}

.input {
  padding: 0.3rem 0.7rem;
  flex-grow: 1;
}

.btn {
  line-height: 1;
  padding: 0.3rem 0.6rem;
  flex-grow: 1;
}
@media (max-width: 480px) {
  .form {
    flex-direction: column;
    gap: 0.3rem;
  }
}
