.input {
  padding: 0.3rem 0 0.3rem 0.8rem;
  outline: none;
  border: 1px solid var(--grey-dark);
  border-radius: 4px;
  margin-right: 0.5rem;
}

.btn {
  line-height: 1;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}
