.form {
  display: flex;
  font-family: "Roboto", sans-serif;
  label {
    flex-grow: 2;
    .input {
      flex-grow: 1;
    }
    .btn {
      line-height: 1;
      padding: 0.3rem 0.6rem;
      flex-grow: 1;
    }
  }
}
