.btnGroup {
  display: flex;
  gap: 0.2rem;
}

.btn {
  line-height: 1.5;
  padding: 0.3rem 0.6rem;
}

.checked {
  border-color: var(--grey-dark);
  background-color: var(--grey-dark);
  color: var(--white);
}

@media (max-width: 480px) {
}
