.TodoListItem {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  gap: .2rem;
  .important {
    color: var(--grey-dark);
    font-weight: 700;
  }
  .label {
    flex-grow: 1;
    cursor: pointer;
    width: max-content;
  }
  .done {
    text-decoration: line-through;
  }
}
