.AppHeader {
  display: flex;
  align-items: flex-end;
}

.AppHeader h1 {
  flex-grow: 1;
  font-weight: 400;
  color: var(--grey-dark);
}

.AppHeader h2 {
  font-size: 1.2rem;
  color: var(--grey-dark);
  font-weight: 300;
}

@media (max-width: 768px) {
  .AppHeader h1 {
    font-size: 24px;
  }
  .AppHeader h2 {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .AppHeader h1 {
    font-size: 24px;
  }
  .AppHeader h2 {
    display: none;
  }
}
